<!DOCTYPE html>
<html>

<!-- HTML page head -->
<script src="../../components/head.tpl.html" data-include data-vars='{"root": "../.."}'></script>

<body>
    <!-- Page header -->
    <script src="../../components/header.tpl.html" data-include data-vars='{"root": "../.."}'></script>

    <main class="single-column-wide" style="margin-top: auto; margin-bottom: auto;">

        <div class="spacer"></div>

        <script src="../../components/survey.tpl.html" data-include data-vars='{"root": "."}'></script>

        <!-- Add some whitespace to the bottom -->
        <div class="spacer"></div>
        <div class="spacer"></div>
    </main>

    <!-- Load analytics at the end of the page -->
    <!-- <script src="../../components/analytics.tpl.html" data-include data-vars='{"root": "../.."}'></script> -->
</body>

</html>